<div class="container">
    <div class="banner" style="background-image: url(<%= image_path 'backgroundimg.jpg'%>)">
      <div class="banner-content text-center">
        <h1>Sylvain Galtier</h1>
        <h2>Junior Web Developer</h2>
      </div>
      <img src="images/batch_191.jpg" alt="" class="banner-avatar avatar">
      <div class="banner-btn">
        <a href="mailto:sylvaingaltier@gmail.com" class="mail-btn">Contact</a>
      </div>
    </div>
    <div class="banner-footer">
      <ul>
        <li class="banner-footer-social-links">
          <a href="https://www.linkedin.com/in/sylvain-galtier-61723087/" target="_blank">
            <i class="fab fa-linkedin-in"></i> Linkedin</a>
        </li>
        <li class="banner-footer-social-links">
          <a href="http://www.viadeo.com/p/00224hc8nel02gbz" target="_blank">
            <i class="fab fa-viadeo-square"></i> Viadeo</a>
        </li>
        <li class="banner-footer-social-links">
          <a href="https://github.com/SGALT" target="_blank">
            <i class="fab fa-github"></i> Github</a>
        </li>
      </ul>
    </div>
  </div>
