.about{
  display:block;
  position:relative;
  background: #F4F4F4;
  a{
    color:#7e7e7e;
  }
}

.title{
    text-align: center;
    position: relative;
    width: 90%;
    padding:1em 0px;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    .line{
      width:10em;
      height:0.1em;
      background: #0075a8;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
    h1{
      color:#000;
      font-size: 2em;
      font-weight: bold;
    }
    h5{
      color:#7e7e7e;
      font-size: 1.5em;
      font-weight: lighter;
    }
}

.description{
  display: block;
  max-width:600px;
  display:inline-block;
  margin:2em;
  background-color: #F4F4F4;
}

.social-icons{
  list-style: none;
  font-size: 35px;
}
