<div class="title" id="apropos">
  <h1>Faisons connaissance</h1>
  <h5>En quelques phrases</h5>
  <p class="line text-center"></p>
</div>


<div class="container">
  <div class="about">
    <p>Bonjour, je m'appelle Sylvain Galtier. Jusqu'à présent cadre commercial émérite, j'ai suivi la formation du Wagon à Bordeaux. Je suis aujourd'hui Développeur Web Fullstack (Front et Back... en clair je m'occupe aussi bien de la carosserie que du moteur de votre site internet). Mes expériences passées, ma formation dans le commerce et le marketing, mon esprit d'entrepreneur, me permettent d'avoir une vraie vision business de l'Application Web. Je suis prêt à mettre ces compétences à votre service afin de mener à bien votre projet futur.
      </p>
  </div>
    <br/>
  <ul class="social-icons list-inline text-center">
      <li> <a href="https://www.linkedin.com/in/sylvain-galtier-61723087/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      <li> <a href="http://www.viadeo.com/p/00224hc8nel02gbz" target="_blank"><i class="fab fa-viadeo" style="color: black;"></i></a></li>
      <li> <a href="https://github.com/SGALT"><i class="fab fa-github" target="_blank" style="color: black;"></i></a></li>
  </ul>
</div>
