<div class="title" id="realisations">
  <h1>
    Réalisations
  </h1>
  <p class="line text-center"></p>
</div>
<div class="IA_window">
  <div class="bar">
    <div class="buttons">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <p>SUP-AIR-OZ</p>
    <span class="full_scr"><i class="far fa-share-square"></i></span>
    <a class="link" href="http://sup-air-oz.herokuapp.com" target="blank">http://sup-air-oz.herokuapp.com</a>
  </div>
  <div class="site">
    <a href="http://sup-air-oz.herokuapp.com"><img src="./images/supairoz.jpeg" alt="" /></a>
  </div>
</div>
<div class="IA_window">
  <div class="bar">
    <div class="buttons">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <p>ME MAKERS</p>
    <span class="full_scr"><i class="far fa-share-square"></i></span>
    <a class="link" href="http://me-makers.herokuapp.com" target="blank">http://me-makers.herokuapp.com</a>
  </div>
  <div class="site">
    <a href="http://me-makers.herokuapp.com" style="background-image: url('./images/memakers.jpeg')"><img src="./images/memakers.jpeg" alt=""/></a>
  </div>
</div>
