<div class="container cards">
    <div class="title">
        <h1>
          Compétences
        </h1>
        <p class="line text-center"></p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="col-xs col-sm-12 card">
          <h2 class="card-title text-center">
            BACK END
          </h2>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col-xs col-sm-12 card">
          <h2 class="card-title text-center">
            FRONT END
          </h2>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col-xs col-sm-12 card">
          <h2 class="card-title text-center">
            FEATURES
          </h2>
        </div>
      </div>
    </div>
